<div id="content">

  <h1>Syftet <%#= MailStore.first.attachment.path %></h1>
  <%= form_for @email do |f| %>
      <div class="clearfix">
        <div class="form-group col-sm-6 mt15">
          <%= f.label :subject, 'Subject*', class: '' %>
          <%= f.text_field :subject, placeholder: 'What would you like to talk about?', required: true, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-6 mt15">
          <%= f.label :title, 'Title*' %>
          <%= f.text_field :title, placeholder: 'Type your title', required: true, class: 'form-control' %>
        </div>

        <div class="col-lg-12 form-group">
          <%= f.text_field :recipient, placeholder: "Recipients or Upload" %>
          <div class="fileselector mr0">
            <label class="btn btn-default pull-right" for="upload-file-selector">
              <%= file_field_tag :file, id: 'upload-file-selector', class: 'pull-right', onChange: "loadRecipient('', event)" %>
              <i class="fa fa-upload"></i>Upload Emails
            </label>
          </div>
        </div>

        <div class="col-lg-12">
          <%= f.label :message, 'Email Template*' %>
          <%= f.text_area :message, placeholder: 'Your message here', class: 'form-control' %>
        </div>

        <div class="form-group col-md-12 mt15">
          <div class="fileselector ml0">
            <label class="btn btn-default" for="upload-file-selector">
              <%= f.file_field :attachment, class: 'fa fa-paperclip', id: 'upload-file-selector' %>
              <i class="fa fa-upload"></i>Upload Attachment
            </label>
          </div>
          <%= f.submit 'Send Campaign', class: 'btn btn-info submit-btn pull-right' %>
        </div>
      </div>
  <% end %>
</div>

<script type="text/javascript">
    $(function () {
        var uploadElement = '';
        $(window).load(function () {
            tinyMCE.init({
                plugins: [
                    'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                    'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime nonbreaking',
                    'save table contextmenu directionality emoticons template paste textcolor code anchor codesample'
                ],
                toolbar1: 'insertfile undo redo | styleselect | fontselect | fontsizeselect | bold underline italic | link media | forecolor backcolor table | codesample code',
                toolbar2: 'outdent indent | bullist numlist | alignleft aligncenter alignright alignjustify | emoticons',
                inline: false,
                browser_spellcheck: true,
                image_advtab: true,
                media_alt_source: false,
                media_poster: false,
                selector: '#mail_store_message',
                height: 500,
                contextmenu: "link image inserttable anchor removeformat | copy paste | cell row column deletetable",
                auto_focus: 'article_content',
                fixed_toolbar_container: '#editor_toolbar',
                extended_valid_elements: "silvrback_embed_script[language|type|src], img[!src|border:0|alt|title|width|height|style], a[name|href|target|title|onclick]",
                menubar: false,
                statusbar: false,
            });

            $('#mail_store_recipient').tokenfield({
                autocomplete: {
                    source: [''],
                    delay: 100,
                    delimiter: ' '
                },
                showAutocompleteOnFocus: true
            })
        });
    });
</script>