<% if @pending_jobs.present? %>
    <div class="notice notice-success">
      <strong>Notice</strong> E-mails are being sending...
    </div>
<% end %>

<div class="template">
  <div class="template-body pb20">
    <%= render 'form' %>
  </div>
</div>