<html>
<head>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet" type="text/css">
</head>
<body>
<div class="template">
  <div class="content">
    <div class="description">
      <%= raw @campaign.template %>
    </div>
  </div>
  <img src="https://massmail.herokuapp.com/campaigns/<%= @campaign.id %>/recipients/<%= @recipient.id %>/open" style="opacity: 0;"/>
</div>
</body>
</html>