<html>
<head>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet" type="text/css">
<div>
  <style type="text/css">
      .template{
          margin: auto;
          padding: 0;
          height: 650px;
          width: 60%;
          background-color: #FFFFFF;
          background-image: url('/assets/page1.png');
          background-attachment: fixed;
          background-repeat: no-repeat;
          margin-top: 20px;
          margin-bottom: 20px;
          border: 1px solid #DADADA;
      }

      .header{
          height: 100px;
          width: 100% ;
          background-color: #C2E8F5;
      }
      .logo{
          text-align: center;
          padding: 15px;
      }

      .content {
          height: 500px;
          width: 100%;
          margin: auto;
      }

      .welcome-note{
          text-align: center;
          height: 40px;
      }

      .welcome-note p{
          margin: 0px;
          padding-top: 20px;
      }

      .description{
          width: 80%;
          height: 210px;
          margin: auto;
          text-align: justify;
      }

      .description p{
          margin: 0px;
          padding: 10px;
          text-align: justify;
      }

      .button{
          text-align: center;
          background-color: #00BBEA;
          width: 20%;
          height: 20px;
          margin: auto;
          padding: 10px;
          text-decoration: none;
      }
      .slide{
          margin-top: 20px;
          width: 80%;
          height: 230px;
          margin: auto;
          padding: 10px;

      }
      .slide img{
          width: 100%;
          height: 200px;
      }
      .footer{
          height: 38px;
          width: 100%;
          margin: auto;
          background-color: #C2E8F5;
          text-align: center;
      }
      .footer p{
          padding: 11px;
          text-color: black;
          font-size: 12px;
      }
  </style>
</div>
</head>
<body>
<div class="template">

  <div class="header">
    <div class="logo">
      <%= image_tag("syftet-logo.png", :alt => "" ) %>
    </div>
  </div>

  <div class="content">

    <div class="welcome-note">
      <p><b><%#= @email_recipient.title %></b></p>
    </div>

    <div class="description">
      <p><%#= @email_recipient.message %></p>
    </div>

    <div class="button">
      <a href="https://beta.beaccount.net/"> Let's Get Started </a>
    </div>
    <div class="slide">
      <%= image_tag("beaccount.jpg", :alt => "") %>
    </div>

  </div>

  <div class="footer">
    <p><a href="syftet.com">Syftet Ltd Bangladesh</a></p>
  </div>

</div>
</body>
</html>