<div class="login-wrapper">
  <div class="login-panel">
    <h1 class="text-center">Log in</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: 'email' %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: 'password' %>
        </div>

        <div class="actions">
          <%= f.submit "Log in", class: 'btn btn-primary btn-block btn-lg' %>
        </div>
    <% end %>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br/>
    <% end -%>
  </div>
</div>