<tr>
  <td> #<%= recipient.id %> </td>
  <td> <%= recipient.email %> </td>
  <td> <%= link_to recipient.campaign.title, campaign_path(recipient.campaign_id) %> </td>
  <td>
    <span class="label label-<%= recipient.status ? 'success' : 'danger' %>"> <%= recipient.status ? 'Sent' : 'Failed' %> </span>
  </td>
  <td>
    <% if recipient.opens.present? %>
        <%= link_to 'javascript:void(0);', data: {toggle: 'collapse', target: "#open-#{recipient.id}"} do %>
            <%= recipient.opens.count %> <i class="fa fa-angle-down"></i>
        <% end %>
    <% else %>
        <%= recipient.opens.count %>
    <% end %>
  </td>
  <td> <%= recipient.click %> </td>
</tr>
<% if recipient.opens.present? %>
    <tr id="open-<%= recipient.id %>" class="collapse">
      <td colspan="6" class="interaction-state">
        <ul>
          <% recipient.opens.each do |open| %>
              <li>
                Recipient <%= recipient.email %> open your campaign
                at <b><%= open.created_at.strftime('%m/%d/%Y') %></b>
              </li>
          <% end %>
        </ul>
      </td>
    </tr>
<% end %>