<div class="notice notice-info">
  <strong>Campaign:</strong> Campaign Recipients
</div>

<div id="campaign-list">

  <section class="content">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-container">
          <table class="table table-filter">
            <thead>
            <tr>
              <th>ID</th>
              <th>Email</th>
              <th>Campaign</th>
              <th>Status</th>
              <th>Open</th>
              <th>Click</th>
            </tr>
            </thead>
            <tbody>
            <% @recipients.each do |recipient| %>
                <%= render recipient %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

</div>