<tr data-status="pagado">
  <td>
    <div class="ckbox">
      <input type="checkbox" id="checkbox1">
      <label for="checkbox1"></label>
    </div>
  </td>
  <td>
    <a href="javascript:;" class="star">
      <i class="glyphicon glyphicon-star"></i>
    </a>
  </td>
  <td>
    <div class="media">
      <a href="#" class="pull-left">
        <%= image_tag social_campaign.image, width: 100 %>
      </a>

      <div class="xxxx">
        <span class="media-meta pull-right"><%= social_campaign.created_at.strftime('%b %d, %Y') %></span>
        <h4 class="title">
          <%= social_campaign.link %> <br/>
          <span class="pull-right pagado">
            <%= link_to 'Share', share_social_campaign_path(social_campaign) %> |
            <%= link_to 'View', social_campaign_path(social_campaign) %> |
            <%= link_to 'Edit', edit_social_campaign_path(social_campaign) %> |
            <%= link_to 'Delete', social_campaign_path(social_campaign), method: :delete %>
          </span>
        </h4>

        <p class="summary">
          <%= raw social_campaign.description %>
        </p>
      </div>
    </div>
  </td>
</tr>