<div class="notice notice-info">
  <strong>Campaign:</strong> My Social Campaign
</div>

<div id="campaign-list">

  <section class="content">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="table-container">
          <table class="table table-filter">
            <tbody>
            <% @social_campaigns.each do |social_campaign| %>
                <%= render social_campaign %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

</div>