<% content_for :head do %>
  <meta property="og:url" content="<%= @social_campaign.link %>">
  <meta name="twitter:url" content="<%= @social_campaign.link %>">
  <meta property="og:title" content="<%= @social_campaign.link %>">
  <meta name="twitter:title" content="<%= @social_campaign.link %>">
  <meta property="og:description" content="<%= @social_campaign.description %>">
  <meta name="twitter:description" content="<%= @social_campaign.description %>">

  <meta property="og:image" content="<%#= root_url + @social_campaign.image_url %>">
  <meta name="twitter:image" content="<%#=  root_url + @social_campaign.image_url %>">
    <meta property="og:image:width" content="450"/>
    <meta property="og:image:height" content="298"/>
<% end %>

<div class="notice notice-info">
  <strong>Campaign:</strong> Campaign details #<%= @social_campaign.id %>
  <%= link_to edit_campaign_path(@social_campaign) do %>
      <i class="fa fa-pencil-square-o"></i>
  <% end %>
</div>

<div id="content">
  <h1> <%= @social_campaign.link %> </h1>


  <div class="panel panel-primary">
    <div class="panel-heading"> Share Campaign</div>
    <div class="panel-body">
      <%#= social_share_button_tag(@social_campaign.link, :url => @social_campaign.link, :image => root_url + @social_campaign.image_url, desc: @social_campaign.description, via: "MyTwitterName") %>
      <%= social_share_button_tag(@social_campaign.link) %>
    </div>
  </div>


  <h3> <%= raw @social_campaign.description %> </h3>

</div>

