<div class="notice notice-info">
  <strong>Campaign:</strong> Campaign details #<%= @social_campaign.id %>
  <%= link_to edit_social_campaign_path(@social_campaign) do %>
      <i class="fa fa-pencil-square-o"></i>
  <% end %>
</div>

<div id="content">
  <h1> <%= @social_campaign.link %> </h1>

  <div class="panel panel-info">
    <div class="panel-heading"> Campaign Statistics</div>
    <div class="panel-body">
      <div class="row">
        <div class="col col-sm-6">
          <h4>Campaign Stats:</h4>
          FaceBook Share
          <span class="pull-right strong"><%= get_fb_share("http://02bf948e.ngrok.io#{share_social_campaign_url(@social_campaign)}") %></span>

          <div class="progresss">
            <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width:15%">15%</div>-->
          </div>


          Twitter Share <span class="pull-right strong"><%#= get_twitter_share(@social_campaign.link) %></span>

          <div class="progresss">
            <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width:15%">15%</div>-->
          </div>

          Linked In Share
          <span class="pull-right strong"><%= get_linkedIn_share(share_social_campaign_url(@social_campaign)) %></span>

          <div class="progresss">
            <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width:15%">15%</div>-->
          </div>

          Google+ Share
          <span class="pull-right strong"><%= google_plus_share(share_social_campaign_url(@social_campaign)) %></span>
        </div>

        <div class="col-sm-6">
          <div id="damage-graph">

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="panel panel-primary">
    <div class="panel-heading"> Share Campaign</div>
    <div class="panel-body">
      <%= social_share_button_tag(@social_campaign.link, :url => @social_campaign.link, :image => (root_url + @social_campaign.image_url if @social_campaign.image.present?), desc: "The summary of page", via: "MyTwitterName") %>
    </div>
  </div>


  <a href="https://www.facebook.com/dialog/share?app_id=145634995501895&display=popup&href=http://02bf948e.ngrok.io<%= social_campaign_path(@social_campaign) %>&redirect_uri=https%3A%2F%2Fdevelopers.facebook.com%2Ftools%2Fexplorer">
    FB </a>


  <h3> <%= raw @social_campaign.description %> </h3>

</div>

<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=599bbbcfa3155100110e71fc&product=inline-share-buttons"></script>

<script type="text/javascript">
    $(function () {
        $('#recipients').tokenfield();

        $('.send-recipient-btn').click(function (e) {
            e.preventDefault();
            element = $(this);
            form = element.parents('form');
            $.ajax({
                type: 'post',
                url: form.attr('action'),
                data: form.serialize(),
                beforeSend: function () {
                    element.val('Sending...');
                },
                success: function (res) {
                    alert("Campaign sent to " + res.total + " recipient");
                    element.val('Send Campaign');
                    $('#recipients').tokenfield('setTokens', []);
                }
            })
        });
    });

    $(function () {

        $(document).ready(function () {

            // Build the chart
            $('#damage-graph').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Category Wise Expense Graph'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y}',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Category',
                    colorByPoint: true,
                    data: [
                        {
                            name: "FaceBook",
                            y: <%= get_fb_share(share_social_campaign_url(@social_campaign)) %>
                        },
                        {
                            name: "Linkedin",
                            y: <%= get_linkedIn_share(share_social_campaign_url(@social_campaign)) %>
                        },

                        {
                            name: "Google+",
                            y: <%= google_plus_share(share_social_campaign_url(@social_campaign)) %>
                        }
                    ]
                }]
            });
        });
    });
</script>