<tr data-status="pagado">
  <td>
    <div class="ckbox">
      <input type="checkbox" id="checkbox1">
      <label for="checkbox1"></label>
    </div>
  </td>
  <td>
    <a href="javascript:;" class="star">
      <i class="glyphicon glyphicon-star"></i>
    </a>
  </td>
  <td>
    <div class="media">
      <a href="#" class="pull-left">
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
      </a>

      <div class="xxxx">
        <span class="media-meta pull-right"><%= campaign.created_at.strftime('%b %d, %Y') %></span>
        <h4 class="title">
          <%= campaign.title %> <br/>
          <span class="pull-right pagado">
            <%= link_to campaign_recipients_path(campaign) do %>
             Recipients(<%= campaign.recipients.count %>)
            <% end %> |
            <%= link_to 'View', campaign_path(campaign) %> |
            <%= link_to 'Edit', edit_campaign_path(campaign) %> |
            <%= link_to 'Delete', campaign_path(campaign), method: :delete %>
          </span>
        </h4>

        <p class="summary">
          <%= campaign.subject %>
        </p>
      </div>
    </div>
  </td>
</tr>