<div id="content">

  <h1>Campaign </h1>
  <%= form_for @campaign do |f| %>
      <div class="clearfix">
        <div class="form-group col-sm-6 mt15">
          <%= f.label :subject, 'Subject*', class: '' %>
          <%= f.text_field :subject, placeholder: 'What would you like to talk about?', required: true, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-6 mt15">
          <%= f.label :title, 'Title*' %>
          <%= f.text_field :title, placeholder: 'Type your title', required: true, class: 'form-control' %>
        </div>

        <div class="fileselector pull-right">
          <label class="btn btn-default" for="upload-file-selector">
            <%= f.file_field :attachment, class: 'fa fa-paperclip', id: 'upload-file-selector' %>
            <i class="fa fa-upload"></i>Upload Attachment
          </label>
        </div>

        <div class="col-lg-12">
          <%= f.label :template, 'Template*' %>
          <%= f.text_area :template, placeholder: 'Your message here', class: 'form-control' %>
        </div>

        <div class="form-group col-md-12 mt15">
          <%= f.submit @campaign.new_record? ? 'Create Campaign' : 'Update Campaign', class: 'btn btn-info submit-btn pull-right' %>
        </div>
      </div>
  <% end %>
</div>

<script type="text/javascript">
    function jqloader() {
        tinymce.init({
            selector: 'textarea',
            height: 500,
            theme: 'modern',
            plugins: [
                'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                'insertdatetime media nonbreaking save table contextmenu directionality',
                'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc help'
            ],
            toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            toolbar2: 'print preview media | forecolor backcolor emoticons | imageupload | codesample help',
            image_advtab: true,
            statusbar: false,
            setup: function (editor) {
                var inp = $('<input id="tinymce-uploader" type="file" name="pic" accept="image/*" style="display:none">');
                $(editor.getElement()).parent().append(inp);

                inp.on("change", function () {
                    var input = inp.get(0);
                    var file = input.files[0];
                    var fr = new FileReader();
                    fr.onload = function () {
                        var img = new Image();
                        img.src = fr.result;
                        editor.insertContent('<img src="' + img.src + '"/>');
                        inp.val('');
                    };
                    fr.readAsDataURL(file);
                });

                editor.addButton('imageupload', {
                    text: "Image",
                    icon: false,
                    onclick: function (e) {
                        inp.trigger('click');
                    }
                });
            }
        });
    }
    $(document).on("turbolinks:load", jqloader);
</script>