<div class="notice notice-info">
  <strong>Campaign:</strong> Campaign details #<%= @campaign.id %>
  <%= link_to edit_campaign_path(@campaign) do %>
      <i class="fa fa-pencil-square-o"></i>
  <% end %>
</div>

<div id="content">
  <h1> <%= @campaign.title %> </h1>

  <h3> <%= @campaign.subject %> </h3>
  <iframe src="<%= campaign_email_view_path(@campaign.id) %>" width="100%" height="100%">

  </iframe>

  <div class="mb10">
    <%= link_to campaign_recipients_path(@campaign) do %>
        <i class="fa fa-users"></i> Recipients
    <% end %>
    |
    <%= link_to campaign_recipients_path(@campaign) do %>
        <i class="fa fa-line-chart"></i> Statistics
    <% end %>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading"> Campaign Statistics</div>
    <div class="panel-body">
      <div class="row">
        <div class="col col-sm-6">
          <h4>Campaign Stats:</h4>
          Campaign Rate <span class="pull-right strong"><%= @campaign.rate %>%</span>

          <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width:<%= @campaign.rate %>%">
              <%= @campaign.rate %>%
            </div>
          </div>

          <%= @campaign.total_sent %> Recipient Sent Target(100)
          <span class="pull-right strong"><%= @campaign.total_sent %>%</span>

          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:<%= @campaign.total_sent %>%">
              <%= @campaign.total_sent %>%
            </div>
          </div>

          <%= @campaign.total_failed %> Recipient Failed
          <span class="pull-right strong"><%= @campaign.total_failed %></span>

          <div class="progress mb10">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="8" aria-valuemin="0" aria-valuemax="100" style="width:<%= @campaign.total_failed %>%">
              <%= @campaign.total_failed %>%
            </div>
          </div>
        </div>

        <div class="col col-sm-6">
          <h4>Recipient Stats:</h4>
          Open Rate <span class="pull-right strong">+ 45%</span>

          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:45%">45%</div>
          </div>

          Click Rate<span class="pull-right strong">+ 57%</span>

          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width:57%">57%</div>
          </div>

          Reopen <span class="pull-right strong">+ 25%</span>

          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%">25%</div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="panel panel-primary">
    <div class="panel-heading"> Send Campaign</div>
    <div class="panel-body">
      <%= form_tag campaign_publish_path(@campaign, format: 'json'), id: 'send-recipient' do %>
          <%= text_field_tag :recipients, '', placeholder: "Recipients or Upload" %>

          <div class="fileselector ml0 clearfix">
            <label class="btn btn-default pull-left" for="upload-file-selector">
              <%= file_field_tag :file, id: 'upload-file-selector', class: 'pull-left', onChange: "loadRecipient('#recipients', event)" %>
              <i class="fa fa-upload"></i>Upload Emails
            </label>
          </div>
          <%= submit_tag 'Send Campaign', class: 'btn btn-success pull-right send-recipient-btn' %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#recipients').tokenfield({
            createTokensOnBlur: true
        });

        $('.send-recipient-btn').click(function (e) {
            e.preventDefault();
            element = $(this);
            form = element.parents('form');
            $.ajax({
                type: 'post',
                url: form.attr('action'),
                data: form.serialize(),
                beforeSend: function () {
                    element.val('Sending...');
                },
                success: function (res) {
                    alert("Campaign sent to " + res.total + " recipient");
                    element.val('Send Campaign');
                    $('#recipients').tokenfield('setTokens', []);
                }
            })
        });
    });
</script>