/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require social-share-button
 *= require_tree .
 *= require_self
 */

body {
    margin: 0;
    padding: 0;
}

.container-wrapper {
    background: #fdfdfd;
    margin-left: 250px;
    float: left;
    padding: 10px;
    width: calc(100% - 250px);
}

.ui-autocomplete, .ui-helper-hidden-accessible {
    display: none !important;
}

.fileselector {
    margin: 10px;
}

#upload-file-selector {
    display: none;
}

.margin-correction {
    margin-right: 10px;
}

#mail_store_message_ifr {
    width: 99% !important;
}

nav.share {
    display: inline-block;
}

/* shareable's nav tag */
nav.share div {
    float: left;
}

nav.share iframe {
    border: 0;
    margin-top: 0;
    padding-top: 0;
}

/* if using medium sized buttons */
#___plusone_0 {
    font-size: default !important;
}

.fb_iframe_widget span {
    vertical-align: top;
}

.fb_edge_widget_with_comment {
    vertical-align: top;
}

.fb-like {
    display: inline-block
}

* html .fb-like {
    display: inline
}

/* ie6 inline block fix*/
* + html .fb-like {
    display: inline
}

/* ie7 inline block fix*/

