
.template {
  max-width: 1000px;
  margin: auto;
}

.footer {
  width: 100%;
  height: 70px;
  margin: auto;
  background: #EFEFEF;

}

.footer p {
  text-align: center;
  padding: 20px;
  margin: 0px;
}

