// Place all the styles related to the mail_stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mt{
  margin-top: 15px;
}


/* generic */
body {
  color: #3F3F3F;
  font-family:'Droid Sans', Tahoma, Arial, Verdana sans-serif;
  font-size:16px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
h1 {
  font-family:'Questrial', Verdana, sans-serif;
  text-align:center;
  font-size:40px;
  padding:0;
  margin:0 0 20px 0;
  position:relative;
  color:#8C8C8C;
}
/** have a nice ampersand **/
h1:after {
  font-size:25px;
  color:#D6CFCB;
  content:'&';
  text-align:center;
  display:block;
  width:100%;
  font-family:'Alice', Verdana, serif;
  text-shadow: 0px 1px 0px #fff;
}
/** create the gradient bottom **/
h1:before {
  position:absolute;
  bottom:15px;
  content:' ';
  text-align:center;
  display:block;
  height:2px;
  width:100%;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(42%, rgba(182, 180, 180, 0.7)), color-stop(43%, rgba(180, 178, 178, 0)), color-stop(50%, rgba(168, 166, 166, 0)), color-stop(57%, rgba(180, 178, 178, 0)), color-stop(58%, rgba(182, 180, 180, 0.7)), color-stop(90%, rgba(238, 237, 237, 0.3)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(182, 180, 180, 0.7) 42%, rgba(180, 178, 178, 0) 43%, rgba(168, 166, 166, 0) 50%, rgba(180, 178, 178, 0) 57%, rgba(182, 180, 180, 0.7) 58%, rgba(238, 237, 237, 0.3) 90%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
}
/* Here comes to good stuff : content styling */
#content {
  position:relative;
  margin: auto;
  min-height:200px;
  z-index:100;
  margin-bottom: 10px;
  //border:1px solid #383838;
  ///* My stipped background */
  //background: #D1D1D1;
  ///* Old browsers */
  //background: -moz-repeating-linear-gradient(-45deg, #EFC1CB, #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px, #F2F2F2 70px, #F2F2F2 80px);
  ///* FF3.6+ */
  //background: -webkit-repeating-linear-gradient(-45deg, #EFC1CB, #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px, #F2F2F2 70px, #F2F2F2 80px);
  ///* FF3.6+ */
  //background: -o-repeating-linear-gradient(-45deg, #EFC1CB, #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px, #F2F2F2 70px, #F2F2F2 80px);
  ///* FF3.6+ */
  //background: repeating-linear-gradient(-45deg, #EFC1CB, #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px, #F2F2F2 70px, #F2F2F2 80px);
  ///* FF3.6+ */
  ///*border-radius*/
  //-webkit-border-radius:8px;
  //-moz-border-radius:8px;
  //border-radius:8px;
  ///*box-shadow*/
  //-webkit-box-shadow:0px 1px 6px #3F3F3F;
  //-moz-box-shadow:0px 1px 6px #3F3F3F;
  //box-shadow:0px 1px 6px #3F3F3F;
}
/** my "fake" background that will hover the stripes **/
//#content:after {
//  background:#F9F9F9;
//  margin:10px;
//  position: absolute;
//  content :" ";
//  bottom: 0;
//  left: 0;
//  right: 0;
//  top: 0;
//  z-index: -1;
//  border:1px #E5E5E5 solid;
//  /*border-radius*/
//  -webkit-border-radius:8px;
//  -moz-border-radius:8px;
//  border-radius:8px;
//}
/*** form styling **/

/** we remove the red glow around required fields since we are already using the red star */
input:required, textarea:required {
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  -o-box-shadow:none;
  box-shadow:none;
}

/** adding our icon font !! */
.iconic:before {
  font-size:25px;
  font-family:'Alice', Verdana, serif;
}
.iconic.link:before {
  content:'/';
}
.iconic.quote-alt:before {
  content:"'";
}
.iconic.comment:before {
  content:"q";
}
.iconic.user:before {
  content:"u";
}
.iconic.mail-alt:before {
  content:"M";
}
label {
  color:#7F7E7E;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}
label:hover {
  color:#191919;
}
label:before {
  color:#C1BFBD;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}
label:hover:before {
  color:#969696;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

.indication {
  color:#878787;
  font-size:12px;
  font-style:italic;
  text-align:right;
  padding-right:10px;
}
.required {
  color:#E5224C;
}