<!DOCTYPE html>
<html>
<head>
  <title>EmailTemplate</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <%= yield :head %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<%= render 'shared/main_nav' %>
<div class="clearfix main-body-container">
  <div class="container-wrapper">
    <%= yield %>
  </div>
</div>

<div class="footer">
  <p>
    &copy; 2017 <a href="http://syftet.com/">Syftet Ltd</a>
  </p>
</div>
</body>
<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
